@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;

    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu {
    width: auto;
    font-family: 'Open Sans', Helvetica, sans-serif;

    /*background-color: #162252;*/
    background-color: #000033;
    /*background: -moz-linear-gradient(top, #2d2525 0%, #2d97af 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d2525), color-stop(100%, #2d97af));
    background: -webkit-linear-gradient(top, #2d2525 0%, #2d97af 100%);
    background: -o-linear-gradient(top, #2d2525 0%, #2d97af 100%);
    background: -ms-linear-gradient(top, #2d2525 0%, #2d97af 100%);
    background: linear-gradient(to bottom, #2d2525 0%, #2d97af 100%); */
}

#cssmenu > ul {
    /*background: url('images/bg.png');*/
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
    margin-left: 250px;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu > ul > li {
    float: left;
    display: inline-block;
}

#cssmenu.align-center > ul {
    float: none;
    text-align: center;
}

#cssmenu.align-center > ul > li {
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu > ul > li > a {
    padding: 18px 25px 21px 20px;
    border-right: 1px solid rgba(80, 80, 80, 0.12);
    text-decoration: none;
    font-size: 13px;
    font-weight: 400; /*color of menu text */
    color: #d3eced;
    text-transform: uppercase;
    letter-spacing: 1px;

}

#cssmenu > ul > li:hover > a, /* on hover color related changes */
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
    color: #ffffff;
    background: gray;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 45px;
}

#cssmenu > ul > li.has-sub > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #d3eced;
    right: 17px;
    top: 22px;
}

#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
    border-top-color: #ffffff;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    top: 60px;
    padding-top: 6px;
    font-size: 13px;
    opacity: 0;
    -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
    -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
    -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
    -o-transition: top 0.2s ease, opacity 0.2s ease-in;
    transition: top 0.2s ease, opacity 0.2s ease-in;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu > ul > li > ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #ffffff;
    top: -4px;
    left: 20px;
}

#cssmenu.align-right > ul > li > ul::after {
    left: auto;
    right: 20px;
}

#cssmenu ul ul ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #ffffff;
    top: 11px;
    left: -4px;
}

#cssmenu.align-right ul ul ul::after {
    border-right-color: transparent;
    border-left-color: #ffffff;
    left: auto;
    right: -4px;
}

#cssmenu > ul > li > ul {
    top: 120px;

}

#cssmenu > ul > li:hover > ul {
    top: 52px;
    left: 0;
    opacity: 1;
}

#cssmenu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
}

#cssmenu ul ul ul {
    padding-top: 0;
    padding-left: 6px;
}

#cssmenu.align-right ul ul ul {
    padding-right: 6px;
}

#cssmenu ul ul > li:hover > ul {
    left: 180px;
    top: 0;
    opacity: 1;
}

#cssmenu.align-right ul ul > li:hover > ul {
    left: auto;
    right: 100%;
    opacity: 1;
}

#cssmenu ul ul li a {
    text-decoration: none;
    font-weight: 400;
    padding: 11px 25px;
    width: 230px; /*change the width of submenu */
    color: white; /*change text color of submenu */
    background: gray; /*change background of submenu */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
    color: #333333;
}

#cssmenu ul ul li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#cssmenu ul ul li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#cssmenu > ul > li > ul::after {
    position: absolute;
    display: block;
}

#cssmenu ul ul li.has-sub > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #777777;
    right: 17px;
    top: 14px;
}

#cssmenu.align-right ul ul li.has-sub > a::after {
    border-left-color: transparent;
    border-right-color: #777777;
    right: auto;
    left: 17px;
}

#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
    border-left-color: #333333;
}

#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
    border-right-color: #333333;
    border-left-color: transparent;
}

#cssmenu {
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

.handle {
    width: 100%;
    background: #000033;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    margin: 0;
    color: white;
    display: none;
}

@media only screen and (max-width: 500px) {
    #cssmenu {
        max-height: 20em;
    }

    .showing {
        max-height: 60em;
    }

    #cssmenu {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;

    }

    .handle {
        display: block;
    }

    #cssmenu {
    <!-- background: #39b1cc;
    -->

    }

    #cssmenu > ul {
        display: none;
    }

    #cssmenu > ul.open {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    #cssmenu.align-right > ul {
        float: none;
    }

    #cssmenu.align-center > ul {
        text-align: left;
    }

    #cssmenu > ul > li,
    #cssmenu.align-right > ul > li {
        float: none;
        display: block;
    }

    #cssmenu > ul > li > a {
        padding: 18px 25px 18px 25px;
        border-right: 0;
    }

    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li.active > a {
        background: rgba(0, 0, 0, 0.1);
    }

    #cssmenu #menu-button {
        display: block;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        color: #d3eced;
        padding: 18px 25px 18px 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        /*background: url('images/bg.png');*/
        cursor: pointer;
    }

    #cssmenu ul ul,
    #cssmenu ul li:hover > ul,
    #cssmenu > ul > li > ul,
    #cssmenu ul ul ul,
    #cssmenu ul ul li:hover > ul,
    #cssmenu.align-right ul ul,
    #cssmenu.align-right ul li:hover > ul,
    #cssmenu.align-right > ul > li > ul,
    #cssmenu.align-right ul ul ul,
    #cssmenu.align-right ul ul li:hover > ul {
        left: 0;
        right: auto;
        top: auto;
        opacity: 1;
        width: 100%;
        padding: 0;
        position: relative;
        text-align: left;
    }

    #cssmenu ul ul li {
        width: 100%;
    }

    #cssmenu ul ul li a {
        width: 100%;
        box-shadow: none;
        padding-left: 35px;
    }

    #cssmenu ul ul ul li a {
        padding-left: 45px;
    }

    #cssmenu ul ul li:first-child > a,
    #cssmenu ul ul li:last-child > a {
        border-radius: 0;
    }

    #cssmenu #menu-button::after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #d3eced;
        border-bottom: 2px solid #d3eced;
        right: 25px;
        top: 18px;
    }

    #cssmenu #menu-button::before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #d3eced;
        right: 25px;
        top: 28px;
    }

    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
        display: none;
    }
}

/*.top
{
 background-color: white;
}
body
{
 background-color:white;
}*/
