<head>
<style>
hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-color: #FF4500;
            border-width: 2px;
        }


</style>
</head>
<div style="background-image:url('./images/tech.jpg');background-size: 1500px 385px; /* Safari 6.0 - 9.0 */
    background-repeat: no-repeat;" class="bg">
    <div class="container-fluid">
        <div class="row">
		<a href="home.php">
            <div class="col-md-1"></div>
            <div class="col-md-2"><img style="" src="images/logo_png.png" height="130px" width="150px" class="img-responsive" alt="Some picture">
            </div>
            <div class="col-md-8">
                <h1 style="color:white;font-weight: 900;">Department of Computer Engineering<br><span><h3>Sardar Patel Institute Of Technology<h3><span></h1>

            </div>
			</a>
        </div>
    </div>
    <hr>



    <div class="rmm style">
        <ul style="z-index:1000;">
            <li><a href='home.php'><span>Home</span></a>
                <ul>
                    <li><a href='about.php'><span>About us</span></a>
                    </li>
                    <li><a href='#'><span>Programs</span></a>
                        <ul>
                            <li><a href='ug.php'><span>Under Graduate</span></a>
                            </li>
                            <li><a href='pg.php'><span>Post Graduate</span></a>
                            </li>
                            <li><a href='phd.php'><span>Ph.D</span></a>
                            </li>

                        </ul>
                    </li>
                    <li><a href='contact.php'><span>Contact us</span></a>
                    </li>
                </ul>
            </li>


            <li><a href='faculty.php'><span>Department</span></a>
                <ul>
                    <li><a href='faculty.php'><span>Faculty</span></a>
                    </li>
                    <li><a href='facilities.php'><span>Facilties</span></a>
                    </li>
                    <li><a href="calendar.php"><span>Timetable</span></a>
                    </li>

                </ul>
            </li>
            <li><a href='#'><span>IR</span></a>
                <ul>
                    <li><a href='iic_about.php'><span>About IR</span></a>
                    </li>
                    <li><a href='iic_companies.php'><span>Companies</span></a>
                        <li><a href='iic_internships.php'><span>Internships</span></a>
                        </li>
                </ul>
                </li>
                <li><a href='#'><span>Industry</span></a>
                    <ul>
                        <li><a href='consultancy.php'>Consultancy<span></span></a>
                            <li><a href='placement.php'><span>Placement</span></a>
                            </li>
                            <li><a href='research.php'>Research<span></span></a>
                            </li>
                    </ul>
                    </li>

                    <li><a href='#'><span>Projects</span></a>
                        <ul>
                            <li><a href='proj16-17.php'><span>2016-17</span></a>
                            </li>
                            <li><a href='proj15-16.php'><span>2015-16</span></a>
                            </li>
                            <li><a href='proj14-15.php'><span>2014-15</span></a>
                            </li>
                            <li><a href='proj13-14.php'><span>2013-14</span></a>
                            </li>
                            <li><a href='proj12-13.php'><span>2012-13</span></a>
                            </li>
                            <li><a href='proj11-12.php'><span>2011-12</span></a>
                            </li>
                        </ul>
                    </li>

                    <li><a href='#'><span>Achievements</span></a>
                        <ul>
                            <li><a href='achievements16-17.php'><span>2016-17</span></a>
                            </li>
                            <li><a href='achievements15-16.php'><span>2015-16</span></a>
                            </li>
                            <li><a href='achievements14-15.php'><span>2014-15</span></a>
                            </li>
                            <li><a href='achievements13-14.php'><span>2013-14</span></a>
                            </li>
                        </ul>
                    </li>

                    <!--            <li class='has-sub' style="z-index: 200;"><a href='#'><span>Survey</span></a>-->
                    <!---->
                    <!--                        <ul>-->
                    <!--                         <li><a href='#'><span>Alumni Feedback</span></a>-->
                    <!--                -->
                    <!--                         </li>-->
                    <!--                         <li><a href='#'>Employer Survey<span>-->
                    <!--                         </span></a>-->
                    <!--                -->
                    <!--                -->
                    <!--                         <li><a href='#'><span>Student Mentor</span></a>-->
                    <!--                -->
                    <!--                         </li>-->
                    <!--                       <li><a href='#'><span>Parent Feedback</span></a>-->
                    <!--                -->
                    <!--                         </li>-->
                    <!--                         <li><a href='#'><span>Program Exit Survey</span></a>-->
                    <!--                -->
                    <!--                         </li>-->
                    <!--                -->
                    <!--                -->
                    <!--                               </ul>-->
                    <!---->
                    <!---->
                    <!--            </li>-->

                    <li><a href='#'><span>Committee</span></a>
                        <ul>
                            <li><a href='face.php'><span>FACE</span></a>
                            </li>
                            <li><a href='pi.php'><span>PI Club</span></a>
                            </li>
                            <li><a href='csi.php'><span>CSI</span></a>
                            </li>
                            <li><a href='ecell.php'><span>E Cell</span></a>
                            </li>

                        </ul>
                    </li>
        </ul>
    </div>
</div>
</div>